<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href='/staticCSS/main.css')
    link(rel="icon" href='/staticIcons/pikachu.svg')
    title Document
  body
    div.mainBox
      div.phoneBox
        div
          img.phoneBox(src='/staticImages/1.png')
          div.phoneBox.slideShow
        //- img.test(src="https://picsum.photos/400/400?random=11")
      div.mainLoginBox
      div.loginBox.loginBox__logo
        p Pikagram

      div.loginBox.loginBox__username
        //- label(for="username" placeholder="phone/username/email")
        input(type="text" name="username" class="inputText") 
        span.floating-label Your email address
        //- div Phone, Username or Email
      div.loginBox.loginBox__password
        //- label(for="password") 
        input(type="password" name="password" class="inputText")
        span.floating-label Your email address
        //- div Password

      div.loginBox.loginBox__login_buttons
        button.loginBox.loginBox__button.button--disabled Log In
        button.loginBox.loginBox__button.button--disabled: span Demo User
      div.loginBox.loginBox__or ───────── OR ─────────
      div.loginBox.loginBox__fbook  
        img(src='/staticImages/123.png')
        p Log in with Facebook
      div.loginBox.loginBox__signUp
        span Don't have an account? 
          a(href="") sign up
      div.loginBox.loginBox__forgotPassword
        a(href='') forgot password?
        
      div.loginBox.loginBox__getApp
        p Get the app.
      div.loginBox.loginBox__getAppButtons
        a(href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo"): img.loginBox.loginBox__appStore(src='/staticImages/appStore.png') 
        a(href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D6535D6D9-46B8-426F-9CB4-0C0AA43E7C80%26utm_content%3Dlo%26utm_medium%3Dbadge"): img.loginBox.loginBox__googlePlay(src='/staticImages/playStore.png') 
        //- img(src='/staticImages/123.png') 

    div.navBox
      ul.navBox.navBox__links
        li: a(href='') link to team
        li: a(href='') tech stack