.phoneBox { 
  height:600px;
}

img.phoneBox {
  display: flex;
  justify-items: center;
  height: 618px;
}

div.phoneBox {
  display: flex;
  justify-items: center;
  height: 480px;
  margin-left: -35px;
  margin-right: -15px;
}